<mat-toolbar class="header-toolbar" >
  <mat-toolbar-row>
    <div class="container">
      <div class="row between-xs middle-xs header-row">
          <nav>
            <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
            <a mat-button routerLink="/products" routerLinkActive="active" >Productos</a>
            <!-- <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a -->
          </nav>
          <div>
            <a routerLink="/auth/login"  >Login</a>
            <a routerLink="/auth/register"  >Registro</a>
            <a routerLink="/order" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn">
              <mat-icon>shopping_cart</mat-icon>
              Carrito
            </a>
          </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>