<mat-horizontal-stepper>
    <mat-step>
      <ng-template matStepLabel>Sus productos</ng-template>
      <div *ngIf="(products$ | async) as products">
          <p *ngIf="products.length === 0">no hay productos</p>
          <div class="row" *ngFor="let product of products">
            <div class="col-xs-12 col-sm-2 col-md-2">
              <div class="box">
                <img class="image" [src]="product.image" alt="">
              </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
              <div class="box">
                {{ product.title }}
              </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
              <div class="box">
                {{ product.price }}
              </div>
            </div>
          </div>
      </div>

    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Datos personales</ng-template>
      <h1>Checkout</h1>

      <form >
        <mat-card>
          <mat-card-header>
            <mat-card-title>Datos</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-xs">
                <mat-form-field>
                  <input placeholder="email" formControlName="email" matInput type="email">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <mat-form-field>
                  <input placeholder="Nombre"  matInput type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <mat-form-field>
                  <input placeholder="Apellido"  matInput type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <mat-form-field>
                  <input placeholder="Ciudad/Localidad"  matInput type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <mat-form-field>
                  <input placeholder="Observaciones"  matInput type="text">
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
        
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Pago</ng-template>
      <h1>Metodo de pago</h1>
    </mat-step>
  </mat-horizontal-stepper>