<app-header></app-header>
<div class="hero" >
    <img src="./../../../../assets/images/tool-hero.png" alt="">
    <h1 >Compra en línea para tu negocio</h1>
    <p>Rentabilidad, conveniencia y servicio a la medida para tu ferretería, obra o deposito.</p>
    <button > <a href="https://tul.com.co/" > Descarga la aplicación</a></button>
</div>

<hr>

<h2>Servicios</h2>


<div class="container" >
    <div class="container__item1" >
        <img src="https://img.icons8.com/pastel-glyph/64/000000/clock--v1.png"/>
        <p>
            Tus compras llegan en 24h o menos
        </p>
    </div>
    <div class="container__item2" >
        <img src="https://img.icons8.com/dotty/80/000000/add-receipt.png"/>
        <p>
            Controla tu facturación
        </p>
    </div>
    <div  class="container__item3">
        <img src="https://img.icons8.com/metro/26/000000/shop.png"/>
        <p>
            Escoge cuando y donde recibir tus compras
        </p>
    </div>
    <div  class="container__item4">
        <img src="https://img.icons8.com/ios-filled/50/000000/administrative-tools.png"/>
        <p>
            Podrás alquilar equipos y herramientas
        </p>
    </div>
    <div  class="container__item5">
        <img src="https://img.icons8.com/ios/50/000000/car-insurance-card.png"/>
        <p>
            Venta de SOAT para tus clientes
        </p>
    </div>
    <div  class="container__item6">
        <img src="https://img.icons8.com/pastel-glyph/64/000000/money--v3.png"/>
        <p>
            Puedes solicitar un crédito para ti
        </p>
    </div>
    <div  class="container__item7">
        <img src="https://img.icons8.com/ios/50/000000/mts-money.png"/>
        <p>
            Crédito a clientes
        </p>
    </div>
</div>
<app-footer></app-footer>